body {
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
.note{
    padding-top: 20vh;
    margin-bottom: 180px;
    font-weight: bolder;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.next{
    display: block;
    
}