body {
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
.note{
    padding-top: 20vh;
    font-weight: bolder;
}

    .next{
        display: block;
        
    }
.iimage{
    padding-top: 50px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.noteimp{
    /* padding-top: 50px; */
    font-size: 10px;
    font-weight: bold;
    
}